@model Storage.Models.ViewModels.AllProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<header class="position-fixed bg-body p-3 pb-0 d-flex w-100 align-items-center z-1 overflow-hidden left-0 right-0"
    style="top: 57px;">
    <div class="d-flex w-100 bg-body z-2">
        <h1 class="text-nowrap">Products (@Model.Count)</h1>
        <div class="d-flex w-100 align-items-center px-2">
            <p class="m-0 p-2">
                <a asp-action="Create">Create New</a>
            </p>
            <div class="p-2 ">
                <form method="get" asp-controller="Products" asp-action="Index" class="d-flex px-2">
                    <label class="form-label visually-hidden" for="category-filter">Filter:</label>
                    <select size="1" name="filter" asp-for="Categories" asp-items="Model.Categories" class="form-select" aria-label="Category select">
                    </select>
                    <button class="btn btn-secondary btn" type="submit">Apply</button>
                </form>
            </div>
            @if (Model.SelectedCategoryIds?.Count() > 0)
            {
                <p class="m-0">
                    <a asp-action="Index">Clear filter</a>
                </p>
            }
        </div>
    </div>
</header>

<div class="h-100 position-relative d-flex flex-column pe-3" style="width: 100vw;">
    <table class="table mb-0 table-hover position-relative vw-100 overflow-x-scroll"
        style="margin-top: 40px; max-width: 100vw;">
        <thead class="bg-body z-0 w-100 position-sticky border-bottom left-0 right-0 shadow-sm" style="top: 126px;">
            <tr class="w-100 h-100">
                <th class=" text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.OrderDate)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Category.Name)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Shelf)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Count)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Product.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="text-truncate" style="max-width: 200px;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td class="text-truncate">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Shelf)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td class="text-truncate" style="max-width: 300px;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-nowrap">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>