@model IEnumerable<Storage.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products (@Model.Count())</h1>

<div class="d-flex w-100 align-items-center">
        <p class="m-0">
            <a asp-action="Create">Create New</a>
        </p>
    <div class="p-2 ">
        <form asp-action="Filter" class="d-flex px-2">
            <label class="form-label visually-hidden" for="category-filter">Filter:</label>
            <input class="form-control me-2" id="category-filter" type="text" name="category" value="@ViewBag.CurrentFilter" placeholder="Filter by category" />
            <button class="btn btn-secondary btn" type="submit">Apply</button>
        </form>
    </div>
    @if (ViewBag.CurrentFilter != null)
    {
        <p class="m-0">
            <a asp-action="Index">Clear filter</a>
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
